<!DOCTYPE html>
<head>
    <title>Web Chatroom</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="chat-container">
        <div class="chat-header">
            <h2>Web Chatroom</h2>
        </div>
        <div class="chat-messages">
            <ul class="message-list">
            {% for message in messages %}
                <li class={{'message-from-'+message['role']}}>
                    <div class="message-info">
                        <span class="message-role">{{ message['role'] }}</span>
                        <span class="message-time">{{ message['time'] }}</span>
                    </div>
                    {% if error and message == messages[-1] %}
                        <div class="message-content" style="color:red;">{{ message['content'] }}</div>
                    {% else %}
                        <div class="message-content">{{ message['content'] }}</div>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        </div>
        <form class="chat-input" method="post">
        {% if error %}
            <input type="text" name="user-message" placeholder="Chat disabled..." disabled>
            <button type="submit" name="send" disabled>Send</button>
        {% else %}
            <input type="text" name="user-message" placeholder="Type your message...">
            <button type="submit" name="send">Send</button>
        {% endif %}
            <button type="button" name="clear" value="Reset">Clear conversation</button>
        </form>
    </div>
</body>
</html>
